$document-bg-color:    #eee;
$document-default-width: 1200px;
$document-font-family: 'Microsoft JhengHei', '微軟正黑體', arial, sans-serif !important;
$document-root-font-size: 16px;
$document-default-color:   black;

$border-default-color: #ccc;
$border-default-radius: 5px;
$default-padding: 1em;

$primary-color: #e93a57;
$secondary-color: #FF9900;
$color-gray-9: #1a1a1a;
$color-gray-8: #333;
$color-gray-7: #4d4d4d;
$color-gray-6: #666;
$color-gray-5: #808080;
$color-gray-4: #999;
$color-gray-3: #b3b3b3;
$color-gray-2: #ccc;
$color-gray-1: #f1f1f1;
$color-red-3: #eb3b5a;
$color-red-2: #ff4063;
$color-red-1: #ffe5e5;
$color-blue-3: #1ca9fb;
$color-blue-2: #3bb6fd;
$color-blue-1: #e5f4ff;
$color-orange-3: #eb863b;
$color-orange-2: #ff9340;
$color-orange-1: #fff2e5;
$color-yellow-3: #ebbb3b;
$color-yellow-2: #ffcc40;
$color-yellow-1: #fff9e5;
$color-green-3: #3beb7d;
$color-green-2: #40ff86;
$color-green-1: #e5fff2;
$color-purple-3: #9a3beb;
$color-purple-2: #a640ff;
$color-purple-1: #f9e5ff;
$color-pink-3: #dc3beb;
$color-pink-2: #ef40ff;
$color-pink-1: #ffe5ff;